body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #f7f7f7;
}

.h1 {
    color: #dc3545;
}

.icon-return {
    margin-left: 10px;
}

.btn-danger {
    background-color: #dc3545;
}